# Base URL Backend Spring Boot (Swagger)
VITE_API_BASE_URL=http://localhost:8080/api/v1

# Bật/tắt chế độ Mock Data
# true = Dùng dữ liệu mẫu chạy độc lập
# false = Gọi API thật theo Swagger
VITE_USE_MOCK=true
